
    *{

        margin: 0;
        padding: 0;
    }
    
    body{
        font-family: Arial, Helvetica, sans-serif;
        background-color: rgb(219, 216, 9);
        font-size: 20px;
        color: white;
        line-height: 1.6;
        text-align: center;

    }

    .container{
        max-width: 760px;
        margin: auto;
        padding: 0 30px ;
    }

    .showcase{

        height: 300px;
        background-color: red;
    }

    .showcase h1 {
      font-size: 50px;
      line-height: 1.3;
      position: relative;
    }


    .headings{
        animation: headings 3s;
        animation-fill-mode: forwards;
    }


    @keyframes headings {
        0%{
            top: -50px;
        }

        100%{
            
            top: 200px;
        }
        
    }

    #wrapper{
        position: relative;
        animation: contents 2s forwards;
    }

    @keyframes contents {
        0%{
            left: -1000px;
        }

        100%{
            
            left: 0;
        }
        
    }

    

    .flip3 {
        background-color: transparent ;
        display: inline-block;
        transition: transform 1s;
        color: white;
        border: red 1px solid;
        opacity: 0;
        animation: flip3 3s 3s forwards;
        display: inline-block;
        margin-top: 40px;
        padding: 1rem 1rem;
        text-decoration: none;
        
    }
    
    .flip3:hover{
        transform: rotateY(180deg);
    }

    @keyframes flip3 {
        0%{
            opacity: 0;
        }

        100%{
            
            opacity: 1;
        }
        
    }
