* {
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

.mother{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: darkturquoise;
}

.skew {
    background-color: rgb(170, 19, 19);
    height: 300px;
    width: 300px;
    text-align: center;
    padding-top: 100px;
    animation: skewMe 0.5s infinite;
}


    @keyframes skewMe {
    
  0%{
            transform: skewX(45deg);
  }

  40%{
    transform: skewY(45deg);
}


70%{
transform: skewX(45deg);
}
    

    100%{
        transform: skewY(45deg);
    }
}


.skewHover {
    background-color: rgb(170, 19, 19);
    height: 300px;
    width: 300px;
    text-align: center;
    padding-top: 100px;
    transform: skewX(45deg);
    transform: skewY(45deg);
}

.skewHover:hover {
    transform: none;
}